<header>

  <nav class="navbar">

    <div class="logo--area">
      <div class="logo">
        <a href="/">
          <img src="https://cdn-icons-png.flaticon.com/512/3330/3330317.png" alt="logo">
        </a>
      </div>
    </div>

    <div class="links--area">
      <ul class="menu-links">
        <li><a href="/register" class="link">signup</a></li>
        <li><a href="/login" class="link">signin</a></li>
      </ul>
    </div>
    
  </nav>

</header>