<%- include('partials/header');  %>

<%- include('partials/navbar');  %>

<!--  
    - Register Form
-->

<div class="dashboard__area">

    <p>Dashboard</p>

</div>

<%- include('partials/footer');  %>