<%- include('partials/header');  %>

<%- include('partials/navbar');  %>

<!-- Main Container -->
<main class="container">

  <!-- 
    - Hero Area
  -->
  <section id="hero__area">
    <div class="hero__heading">
      <h2>Create your own Vision</h2>
      <h4>for the day</h4>
    </div>
    <div class="hero__buttons">
      <a href="/view-notes">
        <button class="view__notes">
          view blogs
        </button>
      </a>
      <a href="/register">
        <button class="signup">
          signup
        </button>
      </a>
      <a href="/dashboard">
        <button class="signup">
          dasshboard
        </button>
      </a>
    </div>
  </section>

  <!-- 
    - Main heading
  -->

</main>

<%- include('partials/footer');  %>
  
