<%- include('partials/header');  %>

<%- include('partials/navbar');  %>

<!--  
    - All/main posts
-->

<div class="posts__container">

    <p>notes....</p>

    <%= user.email %>

    <div class="notes">
        
        

    </div>

</div>
  

<%- include('partials/footer');  %>