<%- include('partials/header');  %>

<%- include('partials/navbar');  %>

<!--  
    - All/main posts
-->

<div class="posts__container">

    <p>posts....</p>

</div>
  

<%- include('partials/footer');  %>