@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(234, 240, 245);
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

::-webkit-scrollbar {
  background-color: rgb(255, 255, 255);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 6px;
}

::placeholder {
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
}

/* 
  -- Header Styles
*/

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

nav {
  width: 100vw;
  height: 5vh;
  padding: 0 3rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo--area .logo a img {
  color: white;
  width: 40px;
  height: auto;
}

nav .links--area ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav .links--area ul li {
  list-style: none;
  margin-right: 1rem;
}

nav .links--area ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  color: rgb(54, 54, 54);
  font-weight: bolder ;
}


/* 
  -- Hero Area Styles
*/

section#hero__area {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url("https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJsb2dzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section#hero__area .hero__heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
}

section#hero__area .hero__heading h2 {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bolder;
}

section#hero__area .hero__heading h4 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
}

section#hero__area .hero__buttons {
  margin-top: 1.5rem;
}

section#hero__area .hero__buttons button {
  padding: 1rem 1.3rem;
  color: black;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

section#hero__area .hero__buttons button:nth-child(1) {
  margin-right: 1rem;
}

section#hero__area .hero__buttons button:hover {
  cursor: pointer;
}


/* 
  -- Register Form
*/

.register__area {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url("https://plus.unsplash.com/premium_photo-1661558975897-d0427647a9c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGJsb2dzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__area form {
  width: 600px;
  height: 470px;
  background: white;
  padding: 1rem;
}

.register__area form .form__header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 1.3rem;
}

.register__area form .form__header h1 {
  font-size: 2rem;
  color: black;
}

.register__area form .form__header p {
  color: gray;
  text-transform: capitalize;
  font-size: 1.1rem;
}

.register__area form .input__area {
  margin-top: 1rem;
}

.register__area form .input__area .input__control {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.register__area form .input__area .input__control label {
  margin-bottom: 0.6rem;
  text-transform: capitalize;
}

.register__area form .input__area .input__control input {
  padding: 0.7rem 2rem;
  border: 1px solid rgb(168, 168, 168);
  outline: none;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
}

.register__area form .input__area .input__control input[type=text]
.register__area form .input__area .input__control input[type="text"]
.register__area form .input__area .input__control input[type="email"]
.register__area form .input__area .input__control input[type=email] {
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
}

.register__area form .register__btn {
  margin: 0 1rem;
}

.register__area form .register__btn button {
  width: 100%;
  text-align: center;
  color: white;
  border: none;
  background: blue;
  padding: 0.7rem 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.login__link,
.register__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

/* 
  -- Login Form
*/

.login__area {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url("https://plus.unsplash.com/premium_photo-1661558975897-d0427647a9c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGJsb2dzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__area form {
  width: 600px;
  height: 380px;
  background: white;
  padding: 1rem;
}

.login__area form .form__header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 1.3rem;
}

.login__area form .form__header h1 {
  font-size: 2rem;
  color: black;
}

.login__area form .form__header p {
  color: gray;
  text-transform: capitalize;
  font-size: 1.1rem;
}

.login__area form .input__area {
  margin-top: 1rem;
}

.login__area form .input__area .input__control {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.login__area form .input__area .input__control label {
  margin-bottom: 0.6rem;
  text-transform: capitalize;
}

.login__area form .input__area .input__control input {
  padding: 0.7rem 2rem;
  border: 1px solid rgb(168, 168, 168);
  outline: none;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
}

.login__area form .input__area .input__control input[type=text]
.login__area form .input__area .input__control input[type="text"]
.login__area form .input__area .input__control input[type="email"]
.login__area form .input__area .input__control input[type=email] {
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
}

.login__area form .login__btn {
  margin: 0 1rem;
}

.login__area form .login__btn button {
  width: 100%;
  text-align: center;
  color: white;
  border: none;
  background: blue;
  padding: 0.7rem 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
}


/* 
  - Notes Styles.
*/

.notes__container {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1568150279679-d16bc9eb9eb1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZGlhcnl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.notes__container .notes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
  gap: 1rem;
}

.notes__container .notes .note {
  width: 300px;
  height: auto;
  word-wrap: break-word;
  padding: 1rem;
  background: rgb(241, 241, 241);
  box-shadow: 1px 3px 9px 0px rgb(143 140 140 / 14%);
  margin: 0.6rem;
}

.notes__container .notes .note .note__title {
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
  text-align: left;
}

.notes__container .notes .note .note__content {
  font-size: 1rem;
}

.notes__container .notes .note .note__author {
  margin-top: 0.5rem;
  background-color: blue;
  width: 100%;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
}

.notes__container .notes .note .note__footer .operations {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; 
}

.notes__container .notes .note .note__footer span:nth-child(1) {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: red;
}

.notes__container .notes .note .note__footer span:nth-child(2) {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(4, 124, 194);
}

.notes__container .notes .note .note__footer span:nth-child(3) {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(201, 188, 6);
}

.notes__container .notes .note .note__footer span:nth-child(4) {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(3, 180, 56);
}

.notes__container .notes .note .note__footer span a i {
  color: white;
}

.create__post__area {
  width: 300px;
  height: 300px;
  border-radius: 2px;
  border: 6px dashed rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
}

.create__post__area p {
  font-size: 1.2rem;
  color: white;
}

.create__note__form {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.774)), url("https://images.unsplash.com/photo-1579017308347-e53e0d2fc5e9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZGlhcnl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.create__note__form form {
  background-color: white;
  padding: 1rem;
  width: 400px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.create__note__form form .header h4 {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

.create__note__form form .input__area .input__control {
  display: flex;
  flex-direction: column;
  margin: 0.7rem 0;
}

.create__note__form form .input__area .input__control input,
.create__note__form form .input__area .input__control textarea {
  padding: 0.6rem 1rem;
  border: 0.7px solid gray;
  outline: none;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
}

.create__note__form form .create__note__btn button {
  width: 300px;
  padding: 0.6rem 1rem;
  color: white;
  background: blue;
  outline: none;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  text-transform: capitalize;
  border: none;
}

.create__note__form form .create__note__btn button:hover {
  cursor: pointer;
}